# App - About page HTML
REACT_APP_ABOUT=<p>Hello World.</p>

# Tumblr API Get Limit
REACT_APP_API_LIMIT=20

# Tumblr API KEY
REACT_APP_API_KEY=

# Tumblr API URL
REACT_APP_API_URL=

# App - Contributor
# Object array to show post contributors on a matched tag
REACT_APP_CONTRIBUTORS=[ { "href": "https://www.instagram.com/microsoft", "image": "https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31", "name": "microsoft", "tag": "microsoft" } ]

# Menu - Copyright Text
REACT_APP_COPYRIGHT=

# App - Description
REACT_APP_DESCRIPTION=

# App - Favicon URL
REACT_APP_FAVICON=

# App - Favicon 64x64 URL
REACT_APP_FAVICON64=

# App - Favicon 192x192 URL
REACT_APP_FAVICON192=

# App - Favicon 512x512 URL
REACT_APP_FAVICON512=

# Menu - Social Media - Facebook Name
REACT_APP_SOCIAL_FACEBOOK=

# Menu - Social Media - Github Name
REACT_APP_SOCIAL_GITHUB=

# Menu - Social Menu - Instagram Name
REACT_APP_SOCIAL_INSTAGRAM=

# Menu - Social Menu - Snapchat Name
REACT_APP_SOCIAL_SNAPCHAT=

# Menu - Social Menu - TikTok Name
REACT_APP_SOCIAL_TIKTOK=

# Menu - Social Menu - Twitch Name
REACT_APP_SOCIAL_TWITCH=

# Menu - Social Menu - Twitter Name
REACT_APP_SOCIAL_TWITTER=

# App - Title
REACT_APP_TITLE=Makrostil