@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';

.title {
  @include transition(0.25s, 0s, ease-in, opacity);
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 32px;
  left: 16px;
  opacity: 0;
  position: fixed;
  top: 16px;
  z-index: 22;
}

@media (min-width: $md) {
  .title {
    font-size: 2rem;
    height: 48px;
    left: 32px;
  }
}

@media (min-width: $xl) {
  .title {
    left: 48px;
    top: 32px;
  }
}
@media (min-width: $fhd) {
  .title {
    left: 64px;
  }
}

@media (min-width: $wqhd) {
  .title {
    font-size: 3rem;
    height: 64px;
    left: 96px;
  }
}
