@import '../../../shared/styles/breakpoints.scss';
@import '../../../shared/styles/mixins.scss';

.post {
  @include transition(0.25s, 0s, ease-in, opacity);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 2px;
  width: 50%;
  z-index: 10;
  &-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    &-src {
      box-sizing: border-box;
      object-fit: cover;
      max-height: 1920px;
      max-width: 100%;
    }
  }
}

@media (min-width: $sm) {
  .post {
    padding: 8px;
    width: 50%;
  }
}

@media (min-width: $md) {
  .post {
    padding: 16px;
    width: 50%;
  }
}

@media (min-width: $xl) {
  .post {
    padding: 24px;
    width: 33.3333%;
  }
}

@media (min-width: $fhd) {
  .post {
    padding: 32px;
  }
}

@media (min-width: $wqhd) {
  .post {
    padding: 48px;
    width: 25%;
  }
}

@media (hover: hover) {
  .post {
    &-container {
      @include transition(0.1s, 0s, ease-in-out, box-shadow, transform);
      &:hover {
        transform: scale(1.01);
      }
      &-src {
        @include transition(0.2s, 0s, ease-in-out, transform);
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
