@import '../../../shared/styles/breakpoints.scss';
@import '../../../shared/styles/mixins.scss';

.post {
  @include transition(0.25s, 0s, ease-in, opacity);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 32px 0px;
  width: 100%;
  z-index: 10;
  &-src {
    box-sizing: border-box;
    object-fit: cover;
    max-height: 1920px;
    max-width: 100%;
  }
}

@media (min-width: $md) {
  .post {
    padding: 16px;
    width: 50%;
  }
}

@media (min-width: $xl) {
  .post {
    padding: 24px;
    width: 33.3333%;
  }
}

@media (min-width: $fhd) {
  .post {
    padding: 32px;
  }
}

@media (min-width: $wqhd) {
  .post {
    padding: 48px;
    width: 25%;
  }
}
