:root {
}

.dark {
  --app-bg: #1f1f1f;
  --app-color: #ebebeb;
  --app-color-hover: white;
  --menu-bg: #252525;
  --select-color: red;
  --sub-color: #acacac;
}

.light {
  --app-bg: #fafafa;
  --app-color: #202020;
  --app-color-hover: black;
  --menu-bg: #f8f8f8;
  --select-color: rgba(0, 0, 0, 0.05);
  --sub-color: #6e6e6e;
}
