html {
  --posts-nav-item-color: #fafafa;
}

html[theme='light'] {
  --input-placeholder-color: #b6b6b6;
  --menu-background-color: #f8f8f8;
  --tag-color: #6e6e6e;
  --theme-background-color: #fafafa;
  --theme-color: #202020;
  --theme-color-hover: black;
}

html[theme='dark'] {
  --input-placeholder-color: #5c5c5c;
  --menu-background-color: #252525;
  --tag-color: #acacac;
  --theme-background-color: #1f1f1f;
  --theme-color: #ebebeb;
  --theme-color-hover: white;
}
