html {
  --posts-nav-item-color: #fafafa;
  --posts-select-color: rgba(0, 0, 0, 0.25);
}

html[theme='light'] {
  --detail-pinch-bg-color: rgba(0, 0, 0, 0.5);
  --input-placeholder-color: #b6b6b6;
  --loader-color: rgba(0, 0, 0, 0.5);
  --menu-background-color: #f8f8f8;
  --select-color: rgba(0, 0, 0, 0.05);
  --tag-color: #6e6e6e;
  --theme-background-color: #fafafa;
  --theme-color: #202020;
  --theme-color-hover: black;
}

html[theme='dark'] {
  --detail-pinch-bg-color: rgba(255, 255, 255, 0.25);
  --input-placeholder-color: #5c5c5c;
  --loader-color: rgba(255, 255, 255, 0.5);
  --menu-background-color: #252525;
  --select-color: rgba(255, 255, 255, 0.05);
  --tag-color: #acacac;
  --theme-background-color: #1f1f1f;
  --theme-color: #ebebeb;
  --theme-color-hover: white;
}
