@import '../../../shared/styles/breakpoints.scss';
@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/theme.scss';

.posts {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 64px 4px;
  width: 100%;
  &-empty {
    @include transition(0.25s, 0s, ease-out, opacity);
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 1.5rem;
    height: 100%;
    justify-content: center;
    left: 0%;
    opacity: 0;
    padding: 8px;
    position: fixed;
    text-align: center;
    top: 0%;
    width: 100%;
    z-index: 11;
  }
  &-loading {
    @include transition(0.25s, 0s, ease-out, opacity);
    bottom: 32px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
  }
  &-tag {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 14;
  }
}

@media (min-width: $sm) {
  .posts {
    padding: 64px 8px;
  }
}

@media (min-width: $md) {
  .posts {
    padding: 96px 16px;
    &-empty {
      font-size: 1.75rem;
      padding: 16px;
    }
  }
}

@media (min-width: $xl) {
  .posts {
    padding: 120px 24px;
    &-empty {
      font-size: 2rem;
      padding: 24px;
    }
    &-loading {
      bottom: 48px;
    }
    &-tag {
      bottom: 32px;
      right: 32px;
    }
  }
}

@media (min-width: $fhd) {
  .posts {
    padding: 132px 32px;
    &-loading {
      bottom: 64px;
    }
    &-tag {
      bottom: 48px;
      right: 48px;
    }
  }
}

@media (min-width: $wqhd) {
  .posts {
    padding: 132px 48px;
  }
}
