@import '../../../shared/styles/breakpoints.scss';

.posts {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 64px 4px;
  width: 100%;
  &-loading {
    bottom: 32px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
  }
  &-more {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 50%;
  }
}

@media (min-width: $sm) {
  .posts {
    padding: 64px 8px;
  }
}

@media (min-width: $md) {
  .posts {
    padding: 96px 16px;
    &-more {
      padding: 16px;
      width: 50%;
    }
  }
}

@media (min-width: $xl) {
  .posts {
    padding: 120px 24px;
    &-loading {
      bottom: 48px;
    }
    &-more {
      padding: 24px;
      width: 33.3333%;
    }
  }
}

@media (min-width: $fhd) {
  .posts {
    padding: 132px 32px;
    &-loading {
      bottom: 64px;
    }
    &-more {
      padding: 32px;
    }
  }
}

@media (min-width: $wqhd) {
  .posts {
    padding: 132px 48px;
    &-more {
      padding: 48px;
      width: 25%;
    }
  }
}
