@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/theme.scss';

.theme {
  align-items: center;
  bottom: 16px;
  display: flex;
  justify-content: center;
  left: 16px;
  position: fixed;
  z-index: 20;
  &-container {
    background-color: var(--theme-color);
    border-radius: 16px;
    height: 32px;
    transform: scale(0.5);
    width: 32px;
  }
}

@media (min-width: $xl) {
  .theme {
    bottom: 32px;
    left: 32px;
  }
}

@media (min-width: $fhd) {
  .theme {
    bottom: 48px;
    left: 48px;
  }
}

@media (min-width: $wqhd) {
  .theme {
    bottom: 64px;
    left: 64px;
  }
}

@media (pointer: coarse) {
  .theme {
    &-container {
      transform: scale(0.625);
    }
  }
}

@media (hover: hover) {
  .theme {
    &-container {
      @include transition(0.25s, 0s, ease-out, background-color, transform);
      cursor: pointer;
      &:hover {
        background-color: var(--theme-color-hover);
        transform: scale(0.625);
      }
    }
  }
}
