@import 'shared/styles/mixins.scss';
@import 'shared/styles/theme.scss';

body {
  @include transition(0.25s, 0s, ease-out, background, color);
  background: var(--theme-background-color);
  color: var(--theme-color);
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &:visited {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}

iframe {
  display: none;
}

input {
  background: none;
  border: none;
  color: var(--theme-color);
  font-family: 'Space Grotesk', sans-serif;
  outline: none;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
  }
}
